In [ ]:
print(int(3.5))
print(int(3))
print(int("5"))

3
3
5

In [ ]:
print(float(3.5))
print(float("3.5"))
#print(float(6+2j))
print(float(3))
print(float("5"))

3.5
3.5
3.0
5.0

In [ ]:
a=2
b=3
res=complex(a,b)
print(res)
print(complex(3))
print(complex(True))
print(complex(False))
print(complex(True,True))

(2+3j)
(3+0j)
(1+0j)
0j
(1+1j)

In [ ]:
x="hello learning Python is very easy!"
print('h' in x)
print('d' in x)
print('d' not in x)
print('Python' in x)

True
False
True
True

In [ ]:
list1=["ashish","rahul","sandip","prashant"]
print("ashish" in list1)
print("sonu" in list1)
print("sonu" not in list1)

True
False
True

In [ ]:
import math as m
r=5
area=m.pi*(r**2)
print(area)

78.53981633974483

In [ ]:
a=int(input("enter a value"))
b=int(input("enter b value"))
res=a+b
print("Addition is", res)

enter a value5
enter b value5
Addition is 10

In [ ]:
print("Addition is", int(input("enter a value"))+
      int(input("enter b value")))

enter a value5
enter b value5
Addition is 10

In [ ]:
a=eval(input("Enter any "))
print(a)

Enter any 1+2/3*4%4
3.6666666666666665

In [ ]:
print("Hello \n World")
print("Hello \t World")
print("Hello"+"World")
print("Hello"*3)

Hello
 World
Hello 	 World
HelloWorld
HelloHelloHello

In [ ]:
a=10
b=20
c=30
print(a,b,c)
a,b,c=10,20,30
print(a,b,c)
print(a,b,c,sep=":")
print(a,b,c,sep=";")

10 20 30
10 20 30
10:20:30
10;20;30

In [ ]:
print("hello",end=" ")
print("ashish",end=" ")
print("sir")

hello ashish sir

In [ ]:
a=10
b=20
c=30
print("a value is %i" %a)
print("b vlaue is %d and c value is %d" %(b,c))

a value is 10
b vlaue is 20 and c value is 30

In [ ]:
name="Vijay"
salary=30000
company="TCS"
print("Hello {0} your salary is {1} and company {2}".format(name,salary,company))
print("Hello {x} your salary is {y} and company {z}".format(x=name,y=salary,z=company))

Hello Vijay your salary is 30000 and company TCS
Hello Vijay your salary is 30000 and company TCS

In [ ]:
# Find last digit of number
a=int(input("Enter a number"))
b=a%10
print(b)

Enter a number12547
7

In [ ]:
# Find Sum of 2 diigit number
a=int(input("enter a number"))
n1=a%10
n2=a//10
res=n1+n2
print("Sum of 2 digit ",res)

enter a number23
Sum of 2 digit  5

In [ ]:
#find sum of 5 digit number
no=int(input("Enter no"))
n1=no%10
no=no//10
n2=no%10
no=no//10
n3=no%10
no=no//10
n4=no%10
no=no//10
n5=no%10
res=n1+n2+n3+n4+n5
print("sum is",res)

Enter no12345
sum is 15

In [ ]:
#Reverse of 5 digit number
no=int(input("Enter no"))
n1=no%10
no=no//10
n2=no%10
no=no//10
n3=no%10
no=no//10
n4=no%10
no=no//10
n5=no%10
res=n1*10000+n2*1000+n3*100+n4*10+n5*1
print("reverse is",res)

Enter no12345
reverse is 54321

In [ ]:
#Sum of last and first digit of 8 digit number
no=int(input("Enter no"))
n1=no%10
n2=no//100000000
res=n1+n2
print("Sum of last and first digit",res)

Enter no123456789
Sum of last and first digit 10

In [ ]:
#Slicing
s="ashish"
print(s[0])
print(s[-1])
print(s[0:4])
print(s[2:4])
print(s[:4])
print(s[2:])
print(s[::])
print(s[::-1])

a
h
ashi
hi
ashi
hish
ashish
hsihsa

In [ ]:
#Accept 5 numbers and find max nummber
n1=int(input("Enter a number"))
n2=int(input("Enter a number"))
n3=int(input("Enter a number"))
n4=int(input("Enter a number"))
n5=int(input("Enter a number"))
max=n1
if max<n2:
  max=n2
if max<n3:
  max=n3
if max<n4:
  max=n4
if max<n5:
  max=n5
print("Max",max)

Enter a number5
Enter a number4
Enter a number3
Enter a number2
Enter a number1
Max 5

In [ ]:
# Accept 3 paper marks
m1=int(input("Enter marks 1:"))
m2=int(input("Enter marks 2:"))
m3=int(input("Enter marks 3:"))
g=input("Enter a gender:")
t=m1+m2+m3
p=(t/300)*100
print("percentage",p)
if(p>=82 and g=="f"):
  print("She can take admission")
elif(p>=62 and g=="m"):
  print("He can take admission")
else:
  print("Cant take admission")

Enter marks 1:70
Enter marks 2:80
Enter marks 3:90
Enter a gender:m
percentage 80.0
He can take admission

In [ ]:
#leap year
year=int(input("Enter the year"))
if(year%100!=100):
  if(year%4==0):
    print("leap year")
  else:
    print("not a leap year")
else:
  if(year%400==0):
    print("leap year")
  else:
    print("not leap year")

Enter the year2014
not a leap year

In [ ]:
#TCS off campus
cp=int(input("Enter the cost price"))
ask=input("are you a student??")
if(ask=="yes"):
  if(cp>=500):
    d=cp-cp*(10/100)
    print("Discount",d)
  else:
    d=cp-cp*(5/100)
    print("Discount",d)
if(ask=="no"):
  if(cp>=500):
    d=cp-cp*(8/100)
    print("Discount",d)
  else:
    d=cp-cp*(2/100)
    print("Discount",d)

Enter the cost price100
are you a student??yes
Discount 95.0

In [ ]:
#ASCII
no=input("Enter any character ")
no=ord(no)
if no>=65 and no<90:
  print("uppercase")
elif no>=97 and no<=122:
  print("lowercase")
else:
  print("Special symbol")

Enter any character J
uppercase

In [ ]:
#Looping
# we use if you want to execute a block of statements repeteadily or continuously

# for loop is used when range is given
# while loop is used when ranghe id not given

#reverse a number
no=int(input("Enter any number"))
rev=0
while no>0:
  rem=no%10
  rev=rev*10+rem
  no=no//10
print("Reverse is",rev)

Enter any number123
Reverse is 321

In [ ]:
#count number of digits
no=int(input("Enter a number"))
c=0
while no>0:
  no=no//10
  c=c+1
print("count is",c)

Enter a number12
count is 2

In [ ]:
#sum of number of digits
no=int(input("Enter a number"))
sum=0
while no>0:
  sum=sum+(no%10)
  no=no//10
print("sum is ",sum)

Enter a number123
sum is  6

In [ ]:
# Multiplication
no=int(input("Enter a number"))
mul=1
while no>0:
  mul=mul*(no%10)
  no=no//10
print("Multiplication is ",mul)

Enter a number123
Multiplication is  6

In [ ]:
# Factorial
no=int(input("Enter a number"))
fact=1
while no>0:
  fact=fact*no
  no=no-1
print("fact",fact)

Enter a number5
fact 120

In [ ]:
#Armstrong number
no=int(input("Enter any no"))
nsave=no;
sum=0
count=0
while(no>0):
  count=count+1
  no=no//10
no=nsave
while no>0:
  rem=no%10
  sum=sum+(rem**count)
  no=no//10
if(sum==nsave):
  print("armstrong")
else:
  print("Not a armstrong number")

Enter any no370
armstrong

In [ ]:
x=0
for i in range(1, 1001):
    no=i
    nsave=no
    sum=0
    count=0
    while no>0:
        count=count+1s
        no=no//10

    no = nsave
    while no > 0:
        rem = no % 10
        sum += rem ** count
        no //= 10
    if sum == i:
        x=x+1
        print(i)

print("Total Armstrong numbers between 1 and 1000:", x)

1
2
3
4
5
6
7
8
9
153
370
371
407
Total Armstrong numbers between 1 and 1000: 13

In [ ]:
#petersone number
n=int(input("Enter a number"))
no=n
sum=0
while no>0:
  rem=no%10
  fact=1
  while rem>0:
    fact=fact*rem
    rem=rem-1
  sum=sum+fact
  no=no//10
if(sum==n):
  print("Petersone")
else:
  print("Not Petersone")

Enter a number145
Petersone

In [ ]:
# Tech Number
n=int(input("Enter any number"))
count = 0
while n > 0:
  count=count+1
  n=n//10
if(count%2==0):
  temp = 10**(count/2)
else:
  print("Not a tech number")
no=n
n1=no//temp
n2=no%temp
n3=(n2+n1)**2
if(n3==n):
  print("Tech number")

Enter any number2025
Tech number