In [ ]:
for i in range(1,11):
  if i==5:
    continue;
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#pattern
j=10
for i in range(1,6):
  if(i==3):
    j=j-1
    continue;
  print(i,"\t",j)
  j=j-1

1 	 10
2 	 9
4 	 7
5 	 6

In [ ]:
#Star Pattern
for i in range(1,5):
  for j in range(1,5):
    print(i,end=" ")
  print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [ ]:
n=1
for i in range(1,5):
  for j in range(1,5):
    print(n,end=" ")
    n=n+1
  print()

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n=65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n),end=" ")
    n=n+1
  print()

A B C D
E F G H
I J K L
M N O P

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
s=4
for i in range(1,5):
  for j in range(s):
    print("*",end=" ")
  s=s-1
  print()

* * * *
* * *
* *
*

In [ ]:
sp=0
for i in range(1,5):
  for j in range(sp):
    print(" ",end=" ")
  for k in range(4,i-1,-1):
    print("*",end=" ")
  print()
  sp=sp+1

* * * *
  * * *
    * *
      *

In [ ]:
sp=5
for i in range(1,5):
  for k in range(sp):
    print(" ",end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print()
  sp=sp-1

          *
        * *
      * * *
    * * * *

In [ ]:
s="abcabcabcabcacadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a',3,10))

7
4
3

In [ ]:
s="Learning Python is very difficult from Ashish Sir"
s1=s.replace("difficult","easy")
print(s1)

Learning Python is very easy from Ashish Sir

In [ ]:
#immutable - cannot be changed in same memory
s="Learning Python is very easy from Ashish Sir"
l=s.split()
print(l)
print(type(l))
for x in l:
  print(x)

['Learning', 'Python', 'is', 'very', 'easy', 'from', 'Ashish', 'Sir']
<class 'list'>
Learning
Python
is
very
easy
from
Ashish
Sir

In [ ]:
s="22#02#2022"
l=s.split("#")
print(l)
print(type(l))
for x in l:
  print(x)

['22', '02', '2022']
<class 'list'>
22
02
2022

In [ ]:
l=["Nagpur","Pune","Mumbai","Delhi"]
s=':'.join(l)
print(s)

Nagpur:Pune:Mumbai:Delhi

In [ ]:
s="Learning Python is very easy from Ashish Sir"
print(s.startswith('Learning'))
print(s.endswith('learning'))
print(s.endswith('sir'))

True
False
False

In [ ]:
mb=(input("Enter mobile number"))
if(len(mb)==10):
  if(mb.isdigit()):
    if(mb.startswith('6') or mb.startswith('7') or mb.startswith('8') or mb.startswith('9')):
      print("valid Mobile Number")
    else:
      print("Not Indian")
  else:
    print("Not digit")
else:
  print("not length 10")

Enter mobile number7387514174
valid Mobile Number

In [ ]:
#reverse
s=input("Enter String")
print(''.join(reversed(s)))

Enter Stringyashas
sahsay

In [ ]:
#Reverse the string without using string
s=input("Enter String")
rev=""
for x in s:
  rev=x+rev
print(rev)

Enter Stringyashas
sahsay

In [ ]:
st="Learning python is very Easy from Ashish Sir"
out=[]
l=st.split()
print(l)
x=len(l)-1
print(x)
while x>=0:
  out.append(l[x])
  x=x-1
print(out)
print(' '.join(out))

['Learning', 'python', 'is', 'very', 'Easy', 'from', 'Ashish', 'Sir']
7
['Sir', 'Ashish', 'from', 'Easy', 'very', 'is', 'python', 'Learning']
Sir Ashish from Easy very is python Learning

In [ ]:
s=input("Enter any string")
l=s.split()
l1=[]
i=0
while i<len(l):
  l1.append(l[i][::-1])
  i=i+1
  output=' '.join(l1)
print(output)

Enter any stringLearning from python is very Easy from Ashish Sir
gninraeL morf nohtyp si yrev ysaE morf hsihsA riS

In [ ]:
s=input("Enter String")
l=[]
for x in s:
  if x not in l:
    l.append(x)
    output=''.join(l)
print(output)

Enter Stringaaddbbcc
adbc

In [ ]:
order1=["chicken","Mutton","Fish"]
order2=["PEPSI","COKE","DEW"]
order1.extend(order2)
print(order1)

['chicken', 'Mutton', 'Fish', 'PEPSI', 'COKE', 'DEW']

In [ ]:
n1=[10,20,10,30]
n2=[2,42,4,24,2]
res=n1+n2
res1=n1*3
print(res)
print(res1)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [ ]:
n=[10,20,30,[23,56,23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

In [ ]:
n=[[10,20,30],[40,50,60],[70,80,90]]
print(n)
print(n[1])
print(len(n))
print(len(n[1]))
for x in n:
  print(x)
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end=" ")
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
[40, 50, 60]
3
3
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
10 20 30
40 50 60
70 80 90

In [ ]:
#capgemini
n=int(input("Enter number of semester"))
s=[]
marks=[]
mm=[]
for i in range(n):
  print("Enter subjects in ",i+1,"sem")
  sb=int(input())
  s.append(sb)
print(s)
print(len(s))
for i in range(n):
  for j in range(s[i]):
    print("Marks obtained in sbuject",j+1,"of semester",i+1)
    data=int(input())
    marks.append(data)
  mm.append(max(marks))
  marks.clear()
print(marks)
print(mm)
for i in range(n):
  print("Maximum marks in ",i+1,"semester",mm[i])

Enter number of semester3
Enter subjects in  1 sem
3
Enter subjects in  2 sem
4
Enter subjects in  3 sem
2
[3, 4, 2]
3
Marks obtained in sbuject 1 of semester 1
0
Marks obtained in sbuject 2 of semester 1
60
Marks obtained in sbuject 3 of semester 1
70
Marks obtained in sbuject 1 of semester 2
90
Marks obtained in sbuject 2 of semester 2
98
Marks obtained in sbuject 3 of semester 2
76
Marks obtained in sbuject 4 of semester 2
67
Marks obtained in sbuject 1 of semester 3
89
Marks obtained in sbuject 2 of semester 3
76
[]
[70, 98, 89]
Maximum marks in  1 semester 70
Maximum marks in  2 semester 98
Maximum marks in  3 semester 89

In [ ]:
list=[12,2,1,2,34,234,33,2,4,234,23,4,23]
print(list)
s=set(list)
print(s)

[12, 2, 1, 2, 34, 234, 33, 2, 4, 234, 23, 4, 23]
{1, 2, 34, 33, 4, 234, 12, 23}

In [ ]:
d={100:'ashish',200:'Prashant',300:'sandip'}
d[101]="Ashish"
d[102]='Raj'
d[200]="sonu"
print(d)
print(d[200])
# it updates the value accordingly

{100: 'ashish', 200: 'sonu', 300: 'sandip', 101: 'Ashish', 102: 'Raj'}
sonu

In [ ]:
rec={}
n=int(input("Enter number of students"))
for i in range(0,n):
  name=input("Enter student name: ")
  marks=input("Enter % of marks of student: ")
  rec[name]=marks

print('Name\tMarks')
print("-----------")
for i in rec:
  print(i , ' ',rec[i])

Enter number of students3
Enter student name: ff
Enter % of marks of student: 95
Enter student name: hh
Enter % of marks of student: 58
Enter student name: rr
Enter % of marks of student: 89
Name	Marks
-----------
ff   95
hh   58
rr   89

In [ ]:
d={100:'ashish',200:"Prashant",300:"sandip"}
print(d[100])
print(d.get(100))
print(d.get(400))
print(d.get(100,"Guest"))
print(d.get(400,"Guest"))

ashish
ashish
None
ashish
Guest

In [ ]:
d={100:'ashish',200:"Prashant",300:"sandip"}
print(d.keys())
for k in d.keys():
  print(k)
print(d.values())
for t in d.values():
  print(t)

dict_keys([100, 200, 300])
100
200
300
dict_values(['ashish', 'Prashant', 'sandip'])
ashish
Prashant
sandip

In [ ]:
d={100:'ashish',200:"Prashant",300:"sandip"}
for k,v in d.items():
  print(k,"---->",v)

100 ----> ashish
200 ----> Prashant
300 ----> sandip

In [ ]:
d={}
sum=0
n=int(input("Enter number of students"))
for i in range(0,n):
  name=input("Enter student name: ")
  marks=int(input("Enter % of marks of student: "))
  d[name]=marks
for i in d.keys():
  sum=sum+d[i]
print("Sum of values or marks",sum)

Enter number of students2
Enter student name: Yashas
Enter % of marks of student: 40
Enter student name: Devanshu
Enter % of marks of student: 60
Sum of values or marks 100

In [ ]:
#Amazon
a=[1,3,2,4]
b=[]
for i in range(len(a)):
  t=0
  for j in range(i+1,len(a)):
    if a[j]>a[i]:
      b.append(a[j])
      t=1
      break
  if(t==0):
    b.append(-1)
print(b)

[3, 4, 4, -1]

In [ ]:
# check if strings are anagram or not
s1 = input("Enter first string: ")
s2 = input("Enter second string: ")
s1 = s1.lower()
s2 = s2.lower()
print(s1)
print(sorted(s1))
if sorted(s1) == sorted(s2):
  print("Anagram")
else:
  print("Not Anagram")

Enter first string: Yashas
Enter second string: Devanshu
yashas
[' ', 'a', 'a', 'h', 's', 's', 'y']
Not Anagram