In [26]:
#Cisco
A=[6,1,2,8,3,4,7,10,5]
A_S=sorted(A)
print(A_S)
for i in range(len(A_S)):
  if i+1!=A_S[i]:
    print("Missing number",i+1)
    break

[1, 2, 3, 4, 5, 6, 7, 8, 10]
Missing number 9

In [ ]:
def show():
  print("Hello")

if __name__ == '__main__':
  show()

Hello

In [ ]:
def add():
  a=int(input("Enter value of a:"))
  b=int(input("Enter value of b:"))
  res=a+b
  print("Addition is ",res)
add()

Enter value of a:5
Enter value of b:7
Addition is  12

In [ ]:
def add(a,b):
  res=a+b;
  print("Addition is",res)

if __name__ == '__main__':
  a=int(input("Enter value of a: "))
  b=int(input("Enter value of b: "))
  add(a,b)

Enter value of a: 5
Enter value of b: 8
Addition is 13

In [ ]:
def add(a,b):
  res=a+b;
  return res

if __name__ == '__main__':
  a=int(input("Enter value of a: "))
  b=int(input("Enter value of b: "))
  r=add(a,b)
  print("Addition is",r)

Enter value of a: 5
Enter value of b: 10
Addition is 15

In [ ]:
def add(a,b):
  r1=a+b;
  r2=a-b;
  r3=a/b;
  r4=a*b;
  return r1,r2,r3,r4

if __name__ == '__main__':
  a=int(input("Enter value of a: "))
  b=int(input("Enter value of b: "))
  r1,r2,r3,r4=add(a,b)
  print("Addition is",r1)
  print("Sub is",r2)
  print("Div is",r3)
  print("Mul is",r4)

Enter value of a: 4
Enter value of b: 2
Addition is 6
Sub is 2
Div is 2.0
Mul is 8

In [ ]:
#Variable length arguement
def sum(*n):
  total=0
  for n1 in n:
    total=total+n1
  print("The Sum=",total)

sum(10)
sum(10,20)
sum(10,20,30,40)

The Sum= 10
The Sum= 30
The Sum= 100

In [ ]:
#Find factorial of function using recurssion
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)


n=int(input("Enter any value: "))
res=factorial(n)
print("factorial is ",res)

Enter any value: 3
factorial is  6

In [16]:
# multiplication using recurssion
def mul(a,b):
  if b==0:
    return 0
  elif b>0:
    return a+mul(a,b-1)
  else:
    return -mul(a,-b)

print(mul(2,-5))

-10

In [ ]:
#lambda function
def square(n):
  return n*n

s=lambda n:n*n

print("The square of 4 is :",square(4))
print("The square of 4 is :",s(5))

The square of 4 is : 16
The square of 4 is : 25

In [ ]:
def add(x,y):
  return x+y

s=lambda x,y: x+y
print("The addition of 4,6 is :",add(4,6))
print("The addition of 4,6 is :",s(4,6))

The addition of 4,6 is : 10
The square of 4,6 is : 10

In [ ]:
def max(x,y):
  if x>y:
    return x
  else:
    return y

m=lambda x,y: x if x>y else y

print("Max=",max(44,55))
print("Max=",m(44,5))

Max= 55
Max= 44

In [ ]:
import yashas
yashas.add(20,30)
yashas.sub(30,10)

The addition is: 50
The subtraction: 20

In [ ]:
#Intersection of two lists
a=[1,2,2,1]
b=[2,2]
#a1=sorted(a)
#b1=sorted(b)
c=[]
for i in range(len(a)):
  for j in range(len(b)):
    if a[i]==b[j]:
      c.append(a[i])
      break;
print(c)

[2, 2]

In [ ]:
# Rotation
arr=[5,1,2,3,4]
k=2
temp=4

for x in range(k):
  temp=arr[-1]
  for i in range(len(arr)-1,-1,-1):
    arr[i]=arr[i-1]
  arr[0]=temp

print(arr)

[3, 4, 5, 1, 2]

In [ ]:
#Alternate numbers
s=[-1,2,-3,4,5,-6]
p=[]
n=[]
ne=[]
for i in range(len(s)):
  if(s[i]>0):
    p.append(s[i])
  else:
    n.append(s[i])
print(p)
print(n)
for i in range(0,len(p)):
  ne.append(n[i])
  ne.append(p[i])
print(ne)

[2, 4, 5]
[-1, -3, -6]
[-1, 2, -3, 4, -6, 5]

In [ ]:
#Subarray
s=[1,2,3,4,6,7,8,9,10]
l=[]
for i in range(0,len(s)):
  if s[i]==i+1:
    l.append(s[i])
  else:
    break
print(l)

[1, 2, 3, 4]

In [ ]:
#Sum of series
n=int(input("Enter the number n"))
x=int(input("Enter the number x"))
s=1
for i in range(1,n+1):
  s=s+(x**(i)/i)
print("Sum",s)

Enter the number n2
Enter the number x2
Sum 5.0

In [ ]:
#sum of factorial
def fact(y):
  if y==0 or y==1:
    return 1
  else:
    return y*fact(y-1)

n=int(input("Enter the number n"))
x=int(input("Enter the number x"))
s=1
for i in range(1,n+1):
  s=s+(x**(i)/fact(i))
print("Sum",s)

Enter the number n2
Enter the number x2
Sum 5.0

In [13]:
#Find first missing positive number
s=[3,4,-1,1]
#s=[5,6,3,2,4,-1,1,-3]
sn=[]
sp=[]
p=0
n=0
for i in range(0,len(s)):
  if s[i]<0:
    sn.append(s[i])
  else:
    sp.append(s[i])
sp.sort()
sn.sort()
print(sp)
print(sn)
for i in range(0,len(sp)):
  if i+1!=sp[i]:
    p=p+1
    break
for j in range(-len(sn),-1,1):
  if j!=sn[j]:
    n=n+1
    break
if p>0:
  print("Missing number ",i+1)
if n>0:
  print("Mising number ",j)

[1, 3, 4]
[-1]
Missing number  2

In [ ]:
#Codechef
A,B=map(int,input().split())
ab=A-B
if ab<0:
    print(0)
else:
    print(ab)

In [ ]:
#Codechef
A,B=map(int,input().split())
sum=0
sum=((A*6)+B)
print(sum)

In [ ]:
#Codechef
N=int(input())
print(N)

In [ ]:
N=int(input())
if(N<12):
    print("NO")
else:
    print("YES")

In [ ]:
X=int(input())
if(X==25):
    print("CHRISTMAS")
else:
    print("ORDINARY")

In [ ]:
s=input()
print(s[7])

proceeding
i

In [ ]:
# cook your dish here
N=int(input())
if N>=1 and N<=8:
    print("YES")
else:
    print("NO")

In [ ]:
# cook your dish here
A,B=map(int,input().split())
if B<=2*A:
    print("METAL")
else:
    print("PLASTIC")

In [ ]:
# cook your dish here
S,C=map(int,input().split())
print(C)

In [ ]:
# cook your dish here
N=int(input())
if N==15:
    print("Yes")
else:
    print("No")